:root {
  --jumbotron-padding-y: 1.5rem;
  --gray-dark: #343434;
  /* --gray-light: rgba(0, 128, 0, 0.466); */
  --gray-light: #ddd;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

/*.jumbotron .container {
  max-width: 40rem;
}*/

/* decrease horizontal padding for mobile */
.container {
    padding-right: 10px;
    padding-left: 10px
}

/* graph */
rect.bar {
  stroke: rgb(101, 101, 101);
  shape-rendering: crispEdges;
}

div.navbar {
  background-color: var(--gray-dark) !important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: var(--gray-dark) !important;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  background-color: var(--gray-dark) !important;
  border-color: var(--gray-dark) !important;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus, .btn-secondary.focus, .btn-secondary:focus {
  box-shadow: 0 0 0 .2rem var(--gray-light);
}

/* rgba(108,117,125,.5); */

.btn-secondary:hover {
  background-color: var(--gray-dark) !important;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#graphWrapper {
  font: 16px sans-serif;
/*  color: white;*/
}

#notes {
    margin-top: 1em;
    color: var(--gray-dark);
}

.tick text {
  font: 16px sans-serif;  
}


#currentYear text {
  font: 20px sans-serif;  
}

/* rgb_from_rgba(r,g,b,a) = (r,g,b) .+ ((1-a) .* (255-r,255-g,255-b)) */
.itww-typical {
  color: gray;
}

.bar.itww-typical {
  fill: rgba(241.8, 241.8, 241.8, 1.0);
}

/* .itww-typical {
  color: green;
  fill: rgba(0, 128, 0, 0.3);
} */

/* rect.bar.itww-typical {
  fill: rgba(0, 128, 0, 0.3);
} */

.itww-warmer {
    color: tomato;
    fill: tomato;
}

.bar.itww-warmer {
  fill: rgba(255.0, 208.2, 199.8, 1.0);
}

.itww-warmest {
  color: red;
  fill: red;
}

.bar.itww-warmest {
  fill: rgba(255.0, 178.5, 178.5, 1.0);
}

.itww-colder {
  color: lightblue;
  fill: lightblue;
}

.bar.itww-colder {
  fill: rgba(230.4, 243.3, 247.5, 1.0);
}

.itww-coldest {
  color: blue;
  fill: blue;
}

.bar.itww-coldest {
  fill: rgba(178.5, 178.5, 255, 1.0);
}

.div-inline{
    display:inline-block;
}

.btn-place {
  color: #000;
  background-color: #FFF;
  padding: 0px 10px;
  font-size: 2.5rem;
  font-weight: 300;
  border-radius: 10px;
  margin-bottom: 10px;
}

.btn-time-series {
  color: #000;
  background-color: #FFF;
  padding: 0px 10px;
  font-size: 1.5rem;
  font-weight: 300;
  border-radius: 10px;
  margin-bottom: 10px;
}

.btn-units {
  color: #000;
  background-color: #FFF;
  padding: 0px 10px 0px 0px;
  font-size: 1.5rem;
  font-weight: 300;
  border-radius: 10px;
  margin-bottom: 6px;
}

/* make hamburger menu leaner to fit on mobile */
.navbar-toggler {
    padding-right: .2rem;
    padding-left: .2rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

.navbar-toggler-icon {
    width: 1.2em;
    height: 1.2em;
}

.navbar {
    padding-left: .5em;
    padding-right: .5em;
}

.navbar-brand {
    margin-right: .6em;
}

.loader {
  border: 16px solid rgba(241.8, 241.8, 241.8, 1.0);
  border-top: 16px solid rgba(255.0, 208.2, 199.8, 1.0);
  border-bottom: 16px solid lightblue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  animation: spin 2s linear infinite;
}

#spinning_therm {
  width: 100px;
}

#loaderWrapper {
  text-align: center;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
